:root {
    --Blue: hsl(223, 87%, 63%);
    --Pale-Blue: hsl(223, 100%, 88%);
    --Light-Red: hsl(354, 100%, 66%);
    --Gray: hsl(0, 0%, 59%);
    --Very-Dark-Blue: hsl(209, 33%, 12%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    height: 100vh;
    width: 100vw;
    font-family: 'Libre Franklin', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

main {
    width: 100%;
    max-width: 32.75rem;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.logo {
    margin-top: 86px;
    margin-bottom: 40px;
} 

h1 {
    font-weight: 700;
    font-size: 2.5rem;
}

h1 span {
    color: var(--Gray);
    font-weight: 300;
}

main p {
    font-size: 1.2rem;
    margin-top: 16px;
    margin-bottom: 38px;
    
}

.input {
    height: 60px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 90px;
}

input {
    height: 56px;
    border-radius: 30px;
    border: 1px solid var(--Gray);
}

input:first-of-type {
    width: 65.5%;
    padding-left: 30px;
}

::placeholder {
    color: var(--Gray);
    font-size: 0.75rem;
    letter-spacing: 1px;
}

input:last-of-type {
    width: 30%;
    text-align: center;
    font-size: 0.8rem;
    background-color: var(--Blue);
    color: white;
    font-weight: 600;
    box-shadow: 0 4px 15px -5px var(--Blue);
    cursor: pointer;
}

.hero{
    margin-bottom: 69px;
    width: 32,25rem;
}

.social_media {
   height: 35px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
}

.social_media img {
    width: 15px;
    height: 15px;
    margin: 0;
   
    
}
.social_media li {
    list-style: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--Gray);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

.social_media li:hover {
    border: 2px solid var(--Blue);   
}

.copyright {
    font-size: 0.7rem;
    color: var(--Gray);
    margin-top: 23px;
    margin-bottom: 50px;
}


.errorMobile {display:none; color: var(--Light-Red);}


.visibleMobile {
    display: block;
    height: 80px;
    width: 100%;
    font-size: 0.9rem;
    font-weight: 600;
    font-style: italic;
    color: var(--Light-Red);
    padding-top: 12px;
}

.errorDesktop {
    display:none; 
    color: var(--Light-Red);
}

.visibleDesktop {
    display: block;
    position: relative;
    top: -23px;
    right: 186px;
    height: 60px;
    font-size: 0.6rem;
    font-weight: 600;
    font-style: italic;
    color: var(--Light-Red);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
